*{
padding: 0;
margin: 0;
box-sizing: border-box;

}


body{
    background-image: url(../images/code.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


.quiz{
display: grid;
grid-template-rows: 60px auto;
height: 600px;
border-radius: 50px;
}

.quiz_header{
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
}